# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

#Java
*.class
*.jar

#eclipse
.project
.classpath
.settings

#IDEA
.idea
*.iml

#program
.log
*.log
log/
logs/

#maven
target

#groovy
.groovy
log/
IOSFTPReport/
